body{
    width: 100%;
    height: 100%;
}
#mainImg{
    width: 100%;
    height: 100%;
}
.homeLanding{
    height: 100%;
    width: 100%;
}

.scroll{
    background-color: #D69631 !important;
}

nav{
    -o-transition: background-color .3s ease-in, color .1s ease-out, height .1s ease-in;
    -ms-transition: background-color .3s ease-in, color .1s ease-out, height .1s ease-in;
    -moz-transition: background-color .3s ease-in, color .1s ease-out, height .1s ease-in;
    -webkit-transition: background-color .3s ease-in, color .1s ease-out, height .1s ease-in;
    transition: background-color .3s ease-in, color .1s ease-out, height .1s ease-in;
}

nav ul li a{
    color: white !important;
    font-size: 18px;
}

.content{
    height: 1600px;
    background-color: #5a5a5a;
}